*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
    text-align:justify;
    text-justify:inter-word;
}
.hide-container{
    display: none;
}
.bg-container{
    width: 100vw;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0;
}
.main-body-container{
    min-height: 85vh;
}
.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}
.home-vnit-logo{
    width: 8%;
}
.home-branch-logo{
    width: 12%;
}
.heading-text-container{
    margin-top: 15px;
}
.home-heading{
    font-size: 20px;
    font-weight: 700;
}
.home-text{
    font-size: 18px;
    font-weight: 600;
}
.bg-container{
    width: 100vw;
}
.nav-bar{
    background-image: linear-gradient(to bottom,rgba(2, 2, 53, 0.863), rgba(5, 5, 80, 0.815));
    padding: 0;
    margin-top: 0;
}
.body{
    text-align:justify;
    text-justify:inter-word;
}
.footer-vnit-logo{
    width: 50px;
}
.brake-line{
    border: 1px dashed black;
}
.nav-brake-line{
    border: 1px dashed white;
}
.my-nav{
    padding: 0;
}
.my-footer{
    background-image: linear-gradient(to top,rgba(2, 2, 53, 0.863), rgba(5, 5, 80, 0.815));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.brake-line-main{
    width: 100%;
}
.my-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.overview{
    font-size: 14px;
}
.org-commi-card-cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.org-commi-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 10px;
    width: 20%;
    height: 230px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.fac-image{
    border: 0.5px solid black;
}
.commity-cont{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.company-details{
    width: 100vw;
    text-align: center;
}
.my-card{
    width: 18%;
    height: 350px;
    margin-right: 7%;
}
@media (max-width:821px) {
    .my-card{
        margin-right: 0;
        width: 80%;
        margin-bottom: 20px;
        height: auto;
    }
    .org-commi-card{
        width: 500px;
    }
    .my-nav{
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav-bar{
        padding: 10px;
    }
    .nav-item{
        width: 35%;
        font-size: 12px;
        margin-left: 10px;
    }
    .top-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .home-vnit-logo{
        width: 18%;
        margin-left: 5px;
    }
    .home-branch-logo{
        display: none;
    }
    .side-bar{
        display: none;
    }
    .home-heading{
        font-size: 14px;
        font-weight: 700;
        width: 300px;
    }
    .home-text{
        font-size: 12px;
    }
    .bg-container{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .overview{
        font-size: 12px;
    }
    .fac-image{
        width: 75%;
    }
    .org-commi-card{
        width: 40%;
    }
    .org-commi-card-cont{
        justify-content: center;
        align-items: center;
    }

}
